<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>272390015010-4u8b9gskmrcqguj1reapnb7ruanldvvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272390015010-4u8b9gskmrcqguj1reapnb7ruanldvvh</string>
	<key>API_KEY</key>
	<string>AIzaSyCLMWdlfROo7w6l9_vCmWAOZiRqAcXFlV8</string>
	<key>GCM_SENDER_ID</key>
	<string>272390015010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pencil.BusinessBook</string>
	<key>PROJECT_ID</key>
	<string>businessbook-30e90</string>
	<key>STORAGE_BUCKET</key>
	<string>businessbook-30e90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272390015010:ios:100ba9a94d0b741d</string>
	<key>DATABASE_URL</key>
	<string>https://businessbook-30e90.firebaseio.com</string>
</dict>
</plist>